$primary-color: #ff7e01;
$secondary-color: #faa935;
$header-color: #0b2727;
$text-color: #6e7074;
$font-name: "Montserrat", sans-serif;
$subtitle-font-name: "Island Moments", cursive;

$header-height: 80px;
$header-shrink-height: 80px;

$header-tablet-height: 60px;
$header-mobile-height: 40px;